.cf::after {
	display: block;
	content: "";
	clear: both;
}
.skip_navigation {
	display: none;
}
.inner_wrap {
	position: relative;
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
}
header {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 17px);
	padding: 15px 0;
	background-color:#fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.05);
	transition: opacity 0.3s;
	z-index: 10;

}
header.motion {
	opacity: 0;
}
header.mobile {
	width: 100%;
}
#logo {
	font-size: 1.7vmax;
	float: left;
	font-weight: 500;
}
#logo span {
	font-weight: 700;
	color: #06c;
}
nav {
	float: right;
	font-size: 1.4vmax;
}
nav li {
	float: left;
	margin-left: 30px;
}
nav li a {
	position: relative;
}
nav li a::after {
	position:absolute;
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #000;
	transition: transform 0.3s;
	transform: scale(0);
}
nav li:hover a::after {
	transform: scale(1);
}

main {
	min-width: 320px;
	height: 100%;
	overflow: auto;
}
main > section {
	min-height: 100%;
}
section .sub_title {
	margin: 50px 0 ;
	text-align: center;
	text-decoration: underline;
	font-family: "Bitter";
	font-size: 3vmax;
}
/* 홈 */
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home li {
	font-size: 4vmax;
	font-weight: 700;
	line-height: 1.3;
	opacity: 0;
}

.home li:nth-child(1) {
	animation: textHighLight 1s 1 forwards;
}
.home li:nth-child(2) {
	animation: textHighLight 1s 1 forwards 0.7s;

}
.home li:nth-child(3) {
	animation: textHighLight 1s 1 forwards 1.4s;
}
.home li:hover {
	color: #06c !important;
}

.home h2 {
	font-family: 'Bitter';
}

.home h2 span {
	display: block;
}
.home h2 span:first-child {
	margin-top: 50px;
	position: relative;
	font-size: 4.5vmax;
	font-weight: 900;
	text-transform: uppercase;
	opacity: 0;
	animation: textSlideUp 1s 1 forwards 1.7s;

}
.home span:first-child::after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width:0;
	height: 50%;
	line-height: 1;
	background-color: rgba(0,0,0,0.1);
	content: "";
	animation: underLine 0.7s  1 forwards 2s;
}
.home span:last-child {
	position: absolute;
	right: 20px;
	bottom: 28%;
	opacity: 0;
	font-size: 2.5vmax;
	min-height: 28px;
	text-align: right;
	animation: lineCursor 0.5s 9 forwards;
	transform: rotate(270deg);
    transform-origin: right bottom;
}

.home a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	text-align: center;
}

/* 어바웃 */
.about {
	padding-top: 30px;
}

.table_wrap{
	margin-bottom: 50px;
}
.table_wrap h3 {
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	width: auto;
	font-size: 1.4vmax;
	font-weight: 500;
}
.table_wrap h3::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% + 10px);
	height: 50%;
	background-color: rgba(0,100,255,0.2);
	content: "";
	z-index: -1;
}

.table_wrap table {
	width: 100%;
	font-size: 1.2vmax;
	border-top: 2px solid #000;
}
.table_wrap table tr {
	border-bottom: 1px solid #eee;
}
.table_wrap table th,
.table_wrap table td {
	vertical-align: middle;
	padding: 10px 5px;
}
.table_wrap table thead th {
	background-color :#f5f5f5;
	font-weight: 700;
}
.table_wrap table tbody th {
	border-right: 1px solid #eee;
}
.table_wrap table td {
	line-height: 1.4;
}
.about .introduce {
	text-align: center;
}
.about .introduce h3 {
	margin-bottom: 40px;
	font-size: 1.5vmax;
	font-weight: 500;
}
.about .introduce h4 {
	margin-bottom: 15px;
	font-size: 1.7vmax;
	font-weight: 700;
	color: #06c;
}
.about .introduce p {
	margin-bottom: 30px;
	font-size: 1.2vmax;
	line-height: 1.4;
	word-break: keep-all;
}
/* 포트폴리오 */
.portfolio {
	padding-top: 30px;
}
.linkbox {
	margin-bottom: 20px;
	z-index: 1;
}
.linkbox a {
	float: right;
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 1vmax;
	text-align: center;
	border-radius: 2px;
	background-color: rgba(0,100,255,0.5);

}
.pf_wrapper {

}

.pf {
	margin: 100px 0 150px;
}
.pf > div {
	position: relative;

}

.pf .left_con {
	width: 60%;
	float: left;
	text-align: center;
}
.pf .left_con img {
	text-align: center;

}
.pf .left_con .pc {
	width: 75%;
	margin-bottom: 30px;
}
.pf .left_con .tablet {
	position: absolute;
	left: 30px;
	bottom: 0;
	width: 40%;

}
.pf .left_con .mobile {
	position: absolute;
	right: 50px;
	bottom: 0;
	width: 14%;

}
.pf .right_con {
	float: right;
	width: 40%;

}
.pf .right_con .table_wrap {
	margin-bottom: 20px;
}
.pf .right_con .shortcut {
	margin: 3px 0;
	display: block;
	width: 100%;
    text-align: center;
    color: #fff;
    background-color: #06c;
    border-radius: 3px;
    padding: 13px;
	font-size: 1.4vmax;

}
.pf .right_con .shortcut:hover {
	background-color: #06b;
}
.pf .right_con .contribute {
	font-size: 0.8vmax;
	line-height: 2;
	color: #aaa;
}
.show_more {
	padding: 10px 5px;
	display: block;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius:  2px;
	text-align: center;
	font-size: 1vmax;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	font-size: 1.2vmax;
}

/* 컨택 */
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Bitter", "Noto Sans KR";
}
.contact .img_wrap{
	margin: 0 auto 50px;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	overflow: hidden;
}
.contact .img_wrap img{
	width: 100%;
}
.contact li {
	font-size: 2vmax;
	text-align: center;
	line-height: 2;
	letter-spacing: 0.2em;
}
.contact li a {
	text-decoration: underline;
}
.contact li:hover a {
	color: #06c;
	text-decoration-color: #06c;
}
@media screen and (max-width: 1024px) {
	.pf {
		margin: 50px 0;
	}
	.pf .left_con,
	.pf .right_con{
		float: none;
		width: 100%;
	}
	.pf .left_con {
		margin-bottom: 20px;
	}
	.pf .left_con .tablet:nth-child(2) {
		left: 0;
	}
	.pf .left_con :nth-child(3),
	.pf .left_con .mobile {
		right: 0 !important;
	}
}

/* 애니메이션 키프레임 */

@keyframes textSlideUp {
	0%{
		opacity: 0;
		transform: translateY(50px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes textHighLight {
	0% {
		opacity: 0;
		color: #06c;
		transform: translateY(50px);
	}
	99% {
		color: #06c;

	}
	100% {
		color: #000;
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes underLine {
	0%{
		width: 0;
	}
	100%{
		width: 50%;
	}
}
@keyframes lineCursor {
	0%{
		border-right: 1px solid #000;
	}
	100%{
		border: 0;
	}
}
